﻿<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text">
            SzkołaXXII
        </a>
    </div>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Roles">
				<i class="material-icons">build</i>
				<p>Role</p>
			</a>
		</li>
		<li>
			<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="SchoolList">
				<i class="material-icons">school</i>
				<p>Szkoły</p>
			</a>
		</li>
		<li>
			<a class="nav-link" asp-area="" asp-controller="SchoolClasses" asp-action="Index">
				<i class="material-icons">people</i>
				<p>Klasy uczniów</p>
			</a>
		</li>
		<li>
			<a class="nav-link" asp-area="" asp-controller="SchoolTeachers" asp-action="Index">
				<i class="material-icons">people</i>
				<p>Nauczyciele</p>
			</a>
		</li>
	</ul>

</body>
</html>


