﻿@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Common.Security.Roles
@inject SignInManager<SzkolaXXII.Web.Areas.Identity.Data.User> SignInManager
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login-register.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="index-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container">
            <a class="navbar-translate" asp-area="" asp-controller="Home" asp-action="Index">SzkolaXXII</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="example-navbar-primary">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        var roles = await UserManager.GetRolesAsync(user);

                        @if (roles.Contains(SystemDefaultRoles.Administrator))
                        {
                        }
                        else if (roles.Contains(SystemDefaultRoles.Moderator))
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="margin-left:10px" asp-area="" asp-controller="SchoolClasses" asp-action="Index">Grupy zajęciowe</a>
                            </li>
                        }
                        else if (roles.Contains(SystemDefaultRoles.Teacher))
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="margin-left:10px" asp-area="" asp-controller="Gradebook" asp-action="Index">Dziennik</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Timetable" asp-action="TeacherIndex">Plan lekcji</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="CalendarEvent" asp-action="Index">Kalendarz</a>
                            </li>
                        }
                        else if (roles.Contains(SystemDefaultRoles.Student))
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="margin-left:10px" asp-area="" asp-controller="Gradebook" asp-action="Index">Dziennik</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Timetable" asp-action="Index">Plan lekcji</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="CalendarEvent" asp-action="Index">Kalendarz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Subjects" asp-action="StudentSubject">Przedmioty</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Notes" asp-action="Index">Uwagi</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper" style="margin-top:100px; margin-bottom:100px">
        <div class="container">
            <div class="row">
                <main role="main" class="pb-3 col-md-11 px-4">
                    @RenderBody()
                </main>
            </div>
        </div>
        <footer class="footer fixed-bottom">
            <div class=" container ">
                <div class="text-center" id="copyright">
                    &copy; 2020 - SzkolaXXII - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>