﻿@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Common.Security.Roles

@inject SignInManager<SzkolaXXII.Web.Areas.Identity.Data.User> SignInManager
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil</a>
            </li>
            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), SystemDefaultRoles.Administrator))
            {
                <li class="nav-item">
                    <a id="admin" class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index" title="Admin">Panel administracyjny</a>
                </li>
            }
            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), SystemDefaultRoles.Teacher))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="TeacherPanel" asp-action="Index">Panel nauczyciela</a>
                </li>
            }

            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" style="border-color: #ffffff; font-size: 10px; color:#ffffff; margin-top:3px; text-transform:uppercase; font-family:"Helvetica Neue"" class="nav-link btn btn-link">Wyloguj</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
            </li>
        }
    </ul>
