﻿<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text">
            SzkołaXXII
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="TeacherPanel" asp-action="Subjects">
                <i class="material-icons">book</i>
                <p>Kursy</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="TeacherPanel" asp-action="Notes">
                <i class="material-icons">comment</i>
                <p>Uwagi</p>
            </a>
        </li>
    </ul>
</body>
</html>