﻿<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text">
            SzkołaXXII
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="Edit" asp-route-id="@ViewData["Id"]">
                <i class="material-icons">edit</i>
                <p>Edycja przedmiotu</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="Class" asp-route-id="@ViewData["Id"]">
                <i class="material-icons">people</i>
                <p>Pokaż klasy</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="Calendar" asp-route-subjectId="@ViewData["Id"]">
                <i class="material-icons">calendar_today</i>
                <p>Kalendarz</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-action="Timetable" asp-route-subjectId="@ViewData["Id"]">
                <i class="material-icons">calendar_today</i>
                <p>Plan lekcji</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="TeacherPanel" asp-action="Index">
                <i class="material-icons">keyboard_arrow_left</i>
                <p>Powrót</p>
            </a>
        </li>
    </ul>
</body>
</html>