﻿@model SzkolaXXII.Web.ViewModel.TeacherTimetableViewModel
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>@Model.Name</div>
    <timetable events="@Model.elementOnTimetableViewModel" />
</body>
</html>

