﻿@model List<SzkolaXXII.Web.ViewModel.ElementOnTimetableViewModel>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <timetable events="@Model" />
</body>
</html>
