﻿@model SzkolaXXII.Web.ViewModel.CalendarEventViewModel
@{
    ViewData["Title"] = "Strona główna";
}
@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Common.Security.Roles
@inject SignInManager<SzkolaXXII.Web.Areas.Identity.Data.User> SignInManager
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
@inject RoleManager<IdentityRole> RoleManager
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text-center" style="margin-top:100px">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        var roles = await UserManager.GetRolesAsync(user);

                        @if (roles.Contains(SystemDefaultRoles.Administrator))
                        {
                            <h1 class="display-4">Witaj Administratorze</h1>
                            <h5>Zarządzaj platformą.</h5>
                        }
                        else if (roles.Contains(SystemDefaultRoles.Moderator))
                        {
                            <h1 class="display-4">Witaj Moderatorze</h1>
                            <h5>Zarządzaj swoją szkołą.</h5>
                        }
                        else if (roles.Contains(SystemDefaultRoles.Teacher))
                        {
                            <h1 class="display-4">Witaj Nauczycielu</h1>
                            <h5>Zarządzaj dziennikiem oraz swoimi kursami dzięki naszej platformie.</h5>
                            <h5>Sprawdź aktualności.</h5>
                        }
                        else if (roles.Contains(SystemDefaultRoles.Student))
                        {
                            <h1 class="display-4">Witaj Uczniu</h1>
                            <h5>Ucz się i odkrywaj możliwości które daje nasza platforma.</h5>
                        }
                        else
                        {
                            <h1 class="display-4">Witaj</h1>
                            <h5>Użytkownik nie posiada przypisanej żadnej z obsługiwanych ról na stronie głównej.</h5>
                            <br />
                            <h5>Skontaktuj się z administratorem aby przydzielił ci właściwe uprawnienia.</h5>
                        }
                    }
                </div>
            </div>
            <div class="col-md-5">
                @*
                *@
                <calendar month="@Model.Month" year="@Model.Year" events="@Model.Events" />
            </div>
        </div>
    </div>
</div>

