﻿@model SzkolaXXII.Web.ViewModel.LoginViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Logowanie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div style="width: 25%;height: 25%;position: absolute; left: 50%; top: 50%; margin-left: -12.5%; margin-top: -12.5%;">

        @using (Html.BeginForm())
        {

            <font color="#CC0000" size="12">Logowanie</font>
            <br />
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000", placeholder = "E-mail" } })
            <br />
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", style = "width:89%; padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#333333", placeholder = "Hasło" } })
            <br />
            @Html.ValidationMessage("CredentialError", "", new { style = "color:#CC0000" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger", style = "color:#CC0000" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", style = "color:#CC0000" })
            <br />
            <br />
            <a style="text-align: justify; text-decoration: none; color:#333333">Nie masz jeszcze konta?</a> <a style="text-align: justify; text-decoration: none; color:#CC0000 " href="@Url.Action("Register","H")"> Załóż konto</a>
            <br />
            <br />
            <button sstyle="background-color:#CC0000" class="btn btn-primary" type="submit">Loguj</button>
        }
    </div>



</body>
</html>

