﻿@{
    ViewData["Title"] = "Strona startowa";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login-register.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>

<body class="login-page sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" data-placement="bottom">
                    SzkołaXXII
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header clear-filter" filter-color="blue">
        <div class="content">
            <div class="container">
                <div class="col-md-12 ml-auto mr-auto">
                    <h1>Witaj na stronie naszej szkoły!</h1>
                    <div class="col-md-6 ml-auto mr-auto">
                        <h4>
                            Zaloguj się lub załóż konto aby móc w pełni korzystać z oferowanych przez nas funkcjonalności.
                        </h4>
                        <div class="card-footer text-center col-md-7 mr-auto ml-auto" style="margin-top:50px">
                            <div class="pull-left">
                                <a class="btn-primary btn-round btn-lg btn-block" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
                            </div>
                            <div class="pull-right">
                                <a class="pull-right btn-primary btn-round btn-lg btn-block" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

