﻿@model SzkolaXXII.Web.InputModel.SchoolTeacherInputModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_AdminMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Dodaj nauczyciela</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-action="Create">
                                        <div class="form-group">
                                            <label>Nauczyciel</label>
                                            <select class="form-control" asp-for="Teacher" asp-items="@Model.ViewModel.UserNames.Select(x => new SelectListItem(x,x))">"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Szkoła</label>
                                            <select class="form-control" asp-for="School" asp-items=@Model.ViewModel.SchoolNames.Select(x => new SelectListItem(x, x))></select>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Dodaj</button>
                                        <a class="ml-2" asp-controller="Admin" asp-action="SchoolList">Powrót</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
