﻿@model SzkolaXXII.Web.Models.School.SchoolTeacher

@{
	ViewData["Title"] = "Usuwanie";
}
@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Web.Data;
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> userManager
@inject SchoolContext schoolContext

<h1>Jesteś pewien, że chcesz usunąć tego nauczyciela?</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Nauczyciel:
		</dt>
		<dd class="col-sm-10">
			@userManager.Users.FirstOrDefault(x => Model.TeacherId == x.Id).UserName;
		</dd>
		<dt class="col-sm-2">
			Szkoła:
		</dt>
		<dd class="col-sm-10">
			@schoolContext.Namespace.FirstOrDefault(x => x.Id == Model.SchoolId).Name;
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Usuń" class="btn btn-danger" /> |
		<a asp-action="Index">Powrót do listy</a>
	</form>
</div>
