﻿@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Web.Data;

@model SzkolaXXII.Web.Models.School.SchoolTeacher

@{
	ViewData["Title"] = "Details";
}
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> userManager
@inject SchoolContext schoolContext

<h1>Informacje o nauczycielu</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Nauczyciel:
		</dt>
		<dd class="col-sm-10">
			@userManager.Users.FirstOrDefault(x=> Model.TeacherId == x.Id).UserName
		</dd>
		<dt class="col-sm-2">
			Szkoła:
		</dt>
		<dd class="col-sm-10">
			@schoolContext.Namespace.FirstOrDefault(n => n.Id ==Model.SchoolId).Name
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Index">Powrót do listy</a>
</div>
