﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> userManager
@{
	ViewData["Title"] = "Nauczyciele";
	Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
		<!--     Fonts and icons     -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	</head>


	<body>
		<div class="wrapper">
			<div class="sidebar" data-color="black">
				<div class="sidebar-wrapper">
					<partial name="_AdminMenuPartial" />
				</div>
			</div>
			<div class="main-panel">
				<partial name="_AdminMenuHeader" />
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								@if (@ViewBag.schoolCount == 0)
								{
									<div class="card strpied-tabled-with-hover">
										<div class="card-header ">
											<h4 class="card-title">Nie masz dostępu do listy nauczycieli w żadnej ze szkół.</h4>
										</div>
									</div>
								}
								else
								{
									<div>
										<h4 class="card-title">Masz dostęp do @ViewBag.schoolCount szkół.</h4>
										<p class="card-category">Wybierz do listy nauczycieli której szkoły chcesz mieć podgląd. </p>


										<table class="table table-hover table-striped">
											<tbody>
												@foreach (var item in ViewBag.schools)
												{
													<tr><a asp-action="SchoolChosenIndex" asp-route-id="@item.Id" class="list-group-item">@item.Name</a></tr>
												}
											</tbody>
										</table>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
