﻿@model IEnumerable<SzkolaXXII.Web.Models.School.SchoolTeacher>
@{
	ViewData["Title"] = "Nauczyciele";
}
	<body>
		<h5>Szkoła: @ViewBag.school.Name</h5>
		<br />
		<h1 class="col-xl-10">Nauczyciele</h1>
		<br />
		<table class="table">
			<thead>
				<tr>
					<th>Nauczyciel</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				@foreach (var schoolTeacher in Model)
				{
					<tr>
						<td>@schoolTeacher.Teacher.UserName </td>
						<td>
							<a asp-action="Details" asp-route-id="@schoolTeacher.Id">Szczegóły</a> |
							<a asp-action="Delete" asp-route-id="@schoolTeacher.Id">Usuń</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</body>
