﻿@model IEnumerable<SzkolaXXII.Web.Models.School.Namespace>

@{
	ViewData["Title"] = "Index";
}

<h1>Lista szkół</h1>

<p>
	<a asp-action="Create">Dodaj nową szkołę</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Adres
			</th>
			<th>
				Nazwa szkoły
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				<a asp-controller="SchoolTeachers" asp-action="Create">Dodaj nauczyciela</a> |
				<a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Usuń szkołę</a>
			</td>
		</tr>
}
	</tbody>
</table>
