﻿@model SzkolaXXII.Web.InputModel.AddClassInputModel
@{
    ViewData["Title"] = "AddClass";
}

<h1>Dodaj klase</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddClass">
            <input asp-for="Id" type="hidden" />
            <table class="table table-borderless table-responsive-md">
                @if (Model.List.Count > 0)
                {
                    <tbody>
                        <tr>
                            <td>Klasa</td>
                            <td><select class="form-control" asp-for="ClassId" asp-items="@Model.List.Select(x => new SelectListItem(x.Name, x.Id))"></select></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary">Dodaj</button>
                                <a class="ml-2" asp-action="Class" asp-route-id="@Model.Id">Powrót do listy</a>
                            </td>
                        </tr>
                    </tbody>
                }
                else
                {
                    <tbody>
                        <tr>
                            <td>Brak klas do dodania</td>                           
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="ml-2" asp-action="Class" asp-route-id="@Model.Id">Powrót do listy</a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </form>
    </div>
</div>