﻿@model SzkolaXXII.Web.ViewModel.SubjectSchoolClassViewModel
@{
    ViewData["Title"] = "Klasy";
}

<p>
    <a asp-action="AddClass" asp-route-id="@Model.Id">Dodaj nową klase do przedmiotu</a>
</p>

<table class="table">
    <thead>
        @if (Model != null && Model.List.Count() > 0)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.List[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.List[0].StartSchoolDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.List[0].EndSchoolDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.List[0].Educator)
                </th>
                <th></th>
            </tr>
        }
    </thead>
    <tbody>
        @if (Model != null)
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.StartSchoolDate.Date.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @item.EndSchoolDate.Date.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Educator.Id)
                    </td>
                    <td>
                        <a asp-controller="SchoolClasses" asp-action="ShowStudents" asp-route-id="@item.Id">Pokaż Klase</a> |
                        <a asp-action="Remove" asp-route-SubjectId="@Model.Id" asp-route-ClassId="@item.Id">Usuń Klase Z Przedmiotu</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Powrót do listy</a>
</div>