﻿@model SzkolaXXII.Web.InputModel.AssignmentInputModel
@{
    ViewData["Title"] = "Dodaj zadanie";
}
@using SzkolaXXII.Web.Data;
@inject SchoolContext schoolContext

<h1>Dodaj zadanie</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAssignment">
            <table class="table table-borderless table-responsive-md">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <input asp-for="SubjectId" type="hidden" value="@ViewBag.SubId" />
                        <td>Tytuł</td>
                        <td><input asp-for="Title" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Opis</td>
                        <td><input asp-for="Description" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Typ</td>
                        <td><input asp-for="Type" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Waga</td>
                        <td><input asp-for="Weight" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>
                            <input class="form-control" asp-for="Date" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                            <a class="ml-2" asp-action="Index">Powrót</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
