﻿@model SzkolaXXII.Web.InputModel.SubjectInputModel

@{
    ViewData["Title"] = "Create";
}
@using SzkolaXXII.Web.Data;
@using Microsoft.AspNetCore.Identity;
@using SzkolaXXII.Common.Security.Roles;
@inject SchoolContext schoolContext
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var privileges = await UserManager.IsInRoleAsync(user, SystemDefaultRoles.Moderator) ||
                     await UserManager.IsInRoleAsync(user, SystemDefaultRoles.Administrator);

    var schools = new SelectList(schoolContext.Namespace, "Id", "Name");
}
<h1>Utwórz nowy przedmiot</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="SchoolId" type="hidden" />
            <table class="table table-borderless table-responsive-md">
                <thead>
                    <tr>
                        @if (privileges)
                        {
                            <th></th>
                        }
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (privileges)
                    {
                        <tr>
                            <td>Szkoła</td>
                            <td><select asp-for="SchoolId" class="form-control" asp-items="schools"></select></td>
                        </tr>
                    }
                        <tr>
                            <td>Nazwa</td>
                            <td><input asp-for="Name" class="form-control" /></td>
                        </tr>
                    <tr>
                        <td>Opis</td>
                        <td><input asp-for="Description" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                            <a class="ml-2" asp-action="Index">Powrót do listy</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
