﻿@model SzkolaXXII.Web.Models.School.Subject

@{
	ViewData["Title"] = "Szczegóły";
}
@using SzkolaXXII.Web.Data;
@inject SchoolContext schoolContext

<h1>Szczegóły</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			Nazwa
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			Opis
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			Szkoła
		</dt>
		<dd class="col-sm-10">
			@schoolContext.Namespace.ToList().FirstOrDefault(x => x.Name == Model.School.Name).Name
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Class" asp-route-id="@Model.Id">Pokaż Klasy</a> |
	<a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
	<a asp-action="Index">Powrót do listy</a>
</div>
