﻿@model IEnumerable<SzkolaXXII.Web.Models.School.Subject>
@{
	ViewData["Title"] = "Lista przemiotów";
}
@using SzkolaXXII.Web.Data;
@inject SchoolContext schoolContext

<h1>Lista przedmiotów</h1>

<p>
	<a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Nazwa przedmiotu</th>
			<th>Opis</th>
			<th>Szkoła</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var subject in Model)
		{

			<tr>
				<td>@subject.Name</td>
				<td>@subject.Description</td>
				<td>@schoolContext.Namespace.FirstOrDefault(n=>n.Id==subject.SchoolId).Name</td>
				<td>
					<a asp-action="Class" asp-route-id="@subject.Id">Lista Studentów</a> |
					<a asp-action="Edit" asp-route-id="@subject.Id">Edytuj</a> |
					<a asp-action="Details" asp-route-id="@subject.Id">Szczegóły</a> |
					<a asp-action="Delete" asp-route-id="@subject.Id">Usuń przedmiot</a> |
					<a asp-action="Subject" asp-route-id="@subject.Id">Strona Przedmiotu</a>
				</td>
			</tr>
		}
	</tbody>
</table>
