﻿@model IEnumerable<SzkolaXXII.Web.ViewModel.SetStudentGradeViewModel>

@{
    ViewData["Title"] = "SetStudentGrades";
}

<h1>Wystaw Ocenę</h1>


<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <table class="table table-borderless table-responsive-md">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Ocena</th>
                    <th>Opcje</th>
                </tr>
            </thead>
       </table>
            @foreach (var item in Model)
            {
                <form asp-action="AddNewGradeForStudent">
                    <table class="table table-borderless table-responsive-md">
                        <tbody>
                            <tr>
                                <td>@item.User.UserName</td>
                                <td><input type="text" id="newGrade" name="NewGrade" value="@item.SubjectGrade.Grade"/></td>
                                <input type="hidden" id="newGrade" name="AssignmentId" value="@ViewBag.AssignmentId" />
                                <input type="hidden" id="newGrade" name="UserId" value="@item.User.Id" />
                                <td><button type="submit" class="btn btn-primary">Aktualizuj</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            }
    </tbody>
</table>
