﻿@model List<SzkolaXXII.Web.Models.School.Subject>
@{
    ViewData["Title"] = "StudentSubject";
}

@if (ViewBag.SubjectCount > 0)
{   
    <div class="table">
        @for (int i = 0; i < Model.Count; i += 2)
        {
            <div class="row">
                <div class="col">
                    <div class="card mb-3" style="width: 450px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <svg class="bd-placeholder-img" width="100%" height="250" xmlns="https://unsplash.com/photos/OyCl7Y4y0Bk" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><a asp-action="Subject" asp-route-id="@Model[i].Id">@Model[i].Name</a></h5>
                                    <p class="card-text">@Model[i].Description</p>
                                    <p class="card-text"><small class="text-muted">@Model[i].SubjectTeacher.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (i + 1 < Model.Count)
                {
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <svg class="bd-placeholder-img" width="100%" height="250" xmlns="https://unsplash.com/photos/OyCl7Y4y0Bk" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>

                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"><a asp-action="Subject" asp-route-id="@Model[i + 1].Id">@Model[i + 1].Name</a></h5>
                                        <p class="card-text">@Model[i + 1].Description</p>
                                        <p class="card-text"><small class="text-muted">@Model[i + 1].SubjectTeacher.</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
else
{
    <div>
        Brak przedmiotów to wyświetlenia<br />
        Skontaktuj się z Administratorem
    </div>
}
