﻿@model SzkolaXXII.Web.ViewModel.SubjectShowViewModel

@{
    ViewData["Title"] = "Subject";
}
@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Common.Security.Roles
@inject SignInManager<SzkolaXXII.Web.Areas.Identity.Data.User> SignInManager
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
@inject RoleManager<IdentityRole> RoleManager

<h1>@Model.Subject.Name</h1>
<h4>@Model.Subject.SubjectTeacher</h4>

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);

    @if (roles.Contains(SystemDefaultRoles.Teacher) || roles.Contains(SystemDefaultRoles.Administrator))
    {
<div>
    <a asp-action="CreateAssignment" asp-route-id="@Model.Subject.Id">Dodaj zadanie</a> |
    <a asp-action="AddClass" asp-route-id="@Model.Subject.Id">Dodaj nową klase do przedmiotu</a>
</div>
    }
    else if (roles.Contains(SystemDefaultRoles.Student))
    {
        <a asp-action="StudentGrades" asp-route-subjectId="@Model.Subject.Id">Twoje oceny</a>
    }
}


<div>
    <hr />
    <dl class="row">
    </dl>

    @if (Model.Assignments.Count == 0)
    {<div>Nie ma żadnych zadań :(</div>}

    @foreach (var mod in Model.Assignments)
    {

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@mod.Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@mod.Description</th>
                </tr>
                <tr>
                    <th>  @mod.Type  |  @mod.Date</th>
                  
                </tr>
                <tr>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.GetUserAsync(User);
                        var roles = await UserManager.GetRolesAsync(user);

                        @if (roles.Contains(SystemDefaultRoles.Teacher) || roles.Contains(SystemDefaultRoles.Administrator))
                        {
                            <th scope="row"><a asp-action="SetStudentGrades" asp-route-subjectId="@Model.Subject.Id" asp-route-assignmentId="@mod.Id">Wystaw Ocene</a></th>
                        }

                    }

                </tr>
            </tbody>
        </table>
        <br />


    }

</div>
