﻿@model SzkolaXXII.Web.InputModel.AddClassInputModel
@{
    ViewData["Title"] = "AddClass";
    ViewData["Id"] = Model.Id;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Dodaj klasę</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-action="AddClass">
                                        <input asp-for="Id" type="hidden" />
                                        <div class="form-group">
                                            @if (Model.List.Count > 0)
                                            {
                                                <div class="row">
                                                    <label>Klasa</label>
                                                    <select class="form-control" asp-for="ClassId" asp-items="@Model.List.Select(x => new SelectListItem(x.Name, x.Id))"></select>
                                                </div>
                                                <button type="submit" class="btn btn-info pull-right">Dodaj</button>
                                                <a class="ml-2" asp-action="Class" asp-route-id="@Model.Id">Powrót do listy</a>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <a class="ml-2">Brak klas do dodania</a>
                                                </div>
                                                <a class="ml-2" asp-action="Class" asp-route-id="@Model.Id">Powrót do listy</a>
                                            }
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>