﻿@model SzkolaXXII.Web.ViewModel.SubjectSchoolClassViewModel

@{
    ViewData["Title"] = "Klasy";
    ViewData["Id"] = Model.Id;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <a class="btn btn-info btn-fill pull-right" asp-action="AddClass" asp-route-id="@Model.Id">Dodaj nową klase do przedmiotu</a>
                                    <h4 class="card-title">Lista klas</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Nazwa</th>
                                        <th>Akcja</th>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                                @foreach (var item in Model.List)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td>
                                                            <a class="material-icons" style="color:dimgrey;" asp-controller="SchoolClasses" asp-action="ShowStudents" asp-route-id="@item.Id" title="Lista uczniów">list_alt</a>
                                                            <a class="material-icons" style="color:darkred; margin-left:15px" asp-action="Remove" asp-route-SubjectId="@Model.Id" asp-route-ClassId="@item.Id" title="Usuń klase">clear</a>
                                                        </td>
                                                    </tr>
                                                }
                                        </tbody>
                                    </table>
                                    <div>
                                        <a class="col-md-2" asp-action="OneSubject" asp-route-id="@Model.Id">Powrót</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>