﻿@model SzkolaXXII.Web.InputModel.SubjectInputModel
@{
    ViewData["Title"] = "Dodaj przedmiot";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using SzkolaXXII.Web.Data;
@using Microsoft.AspNetCore.Identity;
@using SzkolaXXII.Common.Security.Roles;
@inject SchoolContext schoolContext
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var privileges = await UserManager.IsInRoleAsync(user, SystemDefaultRoles.Moderator) ||
                     await UserManager.IsInRoleAsync(user, SystemDefaultRoles.Administrator);

    var schools = new SelectList(schoolContext.Namespace, "Id", "Name");
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Utwórz nowy przedmiot</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-action="Create">
                                        <input asp-for="SchoolId" type="hidden" />
                                        <div class="form-group">
                                            @if (privileges)
                                            {
                                                <label class="control-label">Szkoła</label>
                                                <select asp-for="SchoolId" class="form-control" asp-items="schools"></select>
                                            }
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nazwa</label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Opis</label>
                                            <textarea asp-for="Description" rows="4" cols="80" class="form-control" placeholder="Opis..."></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Dodaj</button>
                                        <a class="ml-2" asp-action="Subjects">Powrót</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
