﻿@model SzkolaXXII.Web.InputModel.TeacherTimetableAddInputModels
@{
    ViewData["Title"] = "TimetableInput";
    ViewData["Id"] = Model.SubjectId;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Dodaj do planu</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-action="CreateTimeTableEvent">
                                        <input asp-for="SubjectId" type="hidden" />
                                        <input asp-for="SchoolClassId" type="hidden" />
                                        <div class="form-group">
                                            <div class="text-danger">@Model.Error</div>
                                            <div class="form-group">
                                                <label>Godzina rozpoczęcia zajęć</label>
                                                <select class="form-control" asp-for="StartTime" asp-items="@Model.StartList.Select(x => new SelectListItem(x.ToString("HH:mm"), x.ToString()))"></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Godzina zakończenia zajęć</label>
                                                <select class="form-control" asp-for="EndTime" asp-items="@Model.EndList.Select(x => new SelectListItem(x.ToString("HH:mm"), x.ToString()))"></select>
                                            </div>
                                            <div class="form-group">
                                                <label>Dzień tygodnia</label>
                                                <select class="form-control" asp-for="DayOfWeek" asp-items="@Model.DaysOfWeek.Select(x => new SelectListItem(x,x))"></select>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Nazwa sali</label>
                                                <input asp-for="Classroom" class="form-control" />
                                                <span asp-validation-for="Classroom" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn btn-info pull-right">Dodaj</button>
                                            <a class="ml-2" asp-action="Timetable" asp-route-id="@Model.SchoolClassId" asp-route-subjectId="@Model.SubjectId">Powrót do listy</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>