﻿@using SzkolaXXII.Web.ViewModel;
@model List<NotesViewModel>
@{
    ViewData["Title"] = "Uwagi";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Uwagi</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Tytuł</th>
                                        <th>Data</th>
                                        <th>Uczeń</th>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                                @foreach (var item in Model)
                                                {
                                                    <tr style="cursor: pointer" onclick="parent.location='/TeacherPanel/ShowNotes/@item.Notes.Id'">
                                                        <td>@item.Notes.Title</td>
                                                        <td>@item.Notes.Time.ToString("dd.MM.yyyy")</td>
                                                        <td>@item.User.Email</td>
                                                        <td>
                                                            <a class="material-icons" style="color:darkred;" asp-action="RemoveNotes" asp-route-id="@item.Notes.Id">clear</a>
                                                            <a class="material-icons" style="color:dimgrey; margin-left:15px" asp-action="EditNotes" asp-route-id="@item.Notes.Id">edit</a>
                                                        </td>
                                                    </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>