﻿@model SzkolaXXII.Web.ViewModel.OneSubjectViewModel
@{
    ViewData["Title"] = "Panel przedmiotu";
    ViewData["Id"] = Model.Id;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <h4>@Model.Name</h4>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Obecne klasy w kursie</h4>
                                </div>
                                <div class="card-body ">
                                    <ul class="list-group list-group-flush">
                                        @if (Model.Classes != null && Model.Classes.Any())
                                        {
                                            @foreach (var item in Model.Classes)
                                            {
                                                <li class="list-group-item">
                                                    @item.Name
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                Brak przypisanych klas do tego przedmiotu
                                            </li>
                                        }
                                    </ul>
                                    <div>
                                        <a class="card-link" asp-area="" asp-action="Class" asp-route-id="@ViewData["Id"]">Zarządzaj klasami</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Nadchodzące wydarzenia</h4>
                                </div>
                                <div class="card-body ">
                                    <ul class="list-group list-group-flush">
                                        @if (Model.Events != null && Model.Events.Any())
                                        {
                                            @foreach (var item in Model.Events.Take(5))
                                            {
                                                var className = Model.Classes.FirstOrDefault(x => x.Id == item.ClassId)?.Name;
                                                <li class="list-group-item">
                                                    @item.Title @(className ?? "") @item.Date
                                                </li>
                                            }

                                            @if (Model.Events.Count() > 5)
                                            {
                                                <li class="list-group-item">
                                                    ... oraz (@(Model.Events.Count() - 5)) więcej
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="list-group-item">
                                                Brak nadchodzących wydarzeń
                                            </li>
                                        }
                                    </ul>
                                    <div>
                                        <a class="card-link" asp-area="" asp-action="Calendar" asp-route-subjectId="@ViewData["Id"]">Wyświetl kalendarz</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-7 mt-4">
                            <div class="card">
                                <div class="card-header">
                                    Zaliczenia
                                </div>
                                <ul class="list-group list-group-flush">
                                    @if (Model.Assignments != null && Model.Assignments.Any())
                                    {
                                        @foreach (var item in Model.Assignments.Take(5))
                                        {
                                            <li class="list-group-item">
                                                @item.Title
                                            </li>
                                        }

                                        @if (Model.Assignments.Count() > 5)
                                        {
                                            <li class="list-group-item">
                                                ... oraz (@(Model.Assignments.Count() - 5)) więcej
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li class="list-group-item">
                                            Brak zaliczeń w tym przedmiocie
                                        </li>
                                    }
                                </ul>
                                <div class="card-body">
                                    <a class="card-link" asp-area="" asp-controller="Assignments" asp-action="Index" asp-route-subjectId="@ViewData["Id"]">Zarządzaj zaliczeniami</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>