﻿@model List<SzkolaXXII.Web.ViewModel.SchoolStudentIndexViewModel>

@{
    ViewData["Title"] = "Klasa";
    ViewData["Id"] = ViewBag.SubjectId;
    Layout = "_TeacherOneSubjectLayout";
}

<h1>Klasa @ViewBag.ClassName</h1>
<h3>Wychowawca: @ViewBag.EducatorName</h3>
<br />
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th style="width:80%">
                Nazwa studenta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count >= 0)
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Student.UserName
                    </td>
                    <td>
                        <a class="btn btn-outline-primary float-right" asp-action="AddNotes" asp-route-id="@item.Student.Id">Dodaj uwagę</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
