﻿@model SzkolaXXII.Web.ViewModel.ElementOnTimetableViewModel
@{
    ViewData["Title"] = "Szczegóły zajęć";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Szczegóły</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 pr-2">
                                            <div class="form-group">
                                                <label>Przedmiot</label>
                                                <p>@Model.Subject.Name</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-2">
                                            <div class="form-group">
                                                <label>Nauczyciel</label>
                                                <p>@Model.TeacherName</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-2">
                                            <div class="form-group">
                                                <label>Klasa</label>
                                                <p>@Model.ClassName</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-2">
                                            <div class="form-group">
                                                <label>Godziny zajęć</label>
                                                <p>@Model.Timetable.StartTime.ToShortTimeString() - @Model.Timetable.EndTime.ToShortTimeString()</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-2">
                                            <div class="form-group">
                                                <label>Sala</label>
                                                <p>@Model.Timetable.Classroom</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="ml-2" asp-action="Timetable" asp-route-id="@Model.Timetable.SchoolClassId" asp-route-subjectId="@Model.Timetable.SubjectId">Powrót</a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>