﻿@using SzkolaXXII.Web.Models.School
@model IEnumerable<Subject>
@{
    ViewData["Title"] = "Panel nauczyciela";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn btn-info btn-fill pull-right" asp-action="Create">Utwórz nowy kurs</a>
                                    <h4 class="card-title">Kursy edukacyjne</h4>
                                </div>
                                <div class="card-body">

                                    <div class="container my-2">
                                        @if (Model != null && Model.Any())
                                        {
                                            <div class="table">
                                                @foreach (var subject in Model)
                                                {
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="card mb-3" style="width: 90%">
                                                                <div class="row no-gutters">
                                                                    <div class="col-md-4">
                                                                        <svg class="bd-placeholder-img" width="100%" height="150" xmlns="https://unsplash.com/photos/OyCl7Y4y0Bk" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>

                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title"><a asp-action="OneSubject" asp-route-id="@subject.Id">@subject.Name</a></h5>
                                                                            <p class="card-text">@subject.Description</p>
                                                                            <p class="card-text"><small class="text-muted">@subject.SubjectTeacher</small></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row"><p>Na razie nie prowadzisz żadnych kursów.</p></div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>