﻿@model SzkolaXXII.Web.ViewModel.TeacherTimetableViewModel

@{
    ViewData["Title"] = "Kalendarz";
    ViewData["Id"] = Model.SubjectId;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                @if (Model.SchoolClasses != null && Model.SchoolClasses.Count > 0)
                                {<div class="container">
                                        <br />
                                        <table class="col-md-3">
                                            <tr>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info btn-fill dropdown-toggle" data-toggle="dropdown">
                                                            @Model.Name <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            @foreach (var item in Model.SchoolClasses)
                                                            {
                                                                <li><a class="btn btn-info btn-fill btn-lg btn-block btn btn-outline-primary" asp-action="Timetable" asp-route-id="@item.Id" asp-route-subjectId="@Model.SubjectId">@item.Name</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td><a class="btn btn-info btn-fill float-left" asp-action="CreateTimeTableEvent" asp-route-id="@Model.Id" asp-route-subjectId="@Model.SubjectId">Dodaj zajęcia</a></td>
                                            </tr>
                                        </table>
                                        <timetable check-controller="@Model.Check" events="@Model.elementOnTimetableViewModel" />
                                    </div>
                                }
                                else
                                {
                                    <span>Na razie nie masz klasy.</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

