﻿@using SzkolaXXII.Web.ViewModel;
@model List<NotesViewModel>
@{
    ViewData["Title"] = "Uwagi";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login-register.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h5 class="card-title" style="margin-left:3%; margin-top:5%">Uwagi</h5>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Tytuł</th>
                                        <th>Data</th>
                                        <th>Nauczyciel</th>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                                @foreach (var item in Model)
                                                {
                                                    <tr style="cursor: pointer; background-color: @item.Color" onclick="parent.location='/Notes/ShowNotes/@item.Notes.Id'">
                                                        <td>@item.Notes.Title</td>
                                                        <td>@item.Notes.Time.ToString("dd.MM.yyyy")</td>
                                                        <td>@item.User.Email</td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
