﻿@model SzkolaXXII.Web.Models.School.SubjectGrade

@{
	ViewData["Title"] = "Wystaw ocenę";
}

<h4>Ocena z przedmiotu</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				Ocena
				<input asp-for="Grade" min="0" max="6" class="form-control" />
				<span asp-validation-for="Grade" class="text-danger"></span>
			</div>
			<div class="form-group">
				Waga
				<input asp-for="Weight" min="0" class="form-control" />
				<span asp-validation-for="Weight" class="text-danger"></span>
			</div>
			<div class="form-group">
				Student
				<select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
			</div>
			@if (ViewData["SubjectId"] != null)
            {
			<div class="form-group">
				Przedmiot
				<select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
			</div>
			}
			else
			{
			<div class="form-group">
				<input type="hidden" asp-for="SubjectId" class="form-control" />
			</div>
			}
			<div class="form-group">
				<input type="submit" value="Stwórz" class="btn btn-primary" />
			</div>
</form>
	</div>
</div>

<div>
	<a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
