﻿@model SzkolaXXII.Web.Models.School.SubjectGrade

@{
    ViewData["Title"] = "Usuń ocenę";
}

<h1>Usuń ocenę</h1>

<h3>Jestes pewien, że chcesz to usunąć?</h3>
<div>
    <h4>Ocena z przedmiotu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ocena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            Waga
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            Przedmiot
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
