﻿@model SzkolaXXII.Web.Models.School.SubjectGrade

@{
    ViewData["Title"] = "Szczegóły oceny";
}

<h1>Szczegóły oceny</h1>

<div>
    <h4>Ocena z przedmiotu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ocena
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            Waga
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            Przedmiot
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Wróć do listy</a>
</div>
