﻿@model IEnumerable<SzkolaXXII.Web.Models.School.SubjectGrade>

@{
    ViewData["Title"] = "Oceny";
}

<h1>Oceny</h1>

<p>
    <a asp-action="Create">Stwórz nową</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ocena
            </th>
            <th>
                Waga
            </th>
            <th>
                Przedmiot
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
