﻿@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Uwierzytelnianie dwuskładnikowe";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login-register.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>

<body class="login-page sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" data-placement="bottom">
                    SzkołaXXII
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header clear-filter" filter-color="blue">
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                            <input asp-for="RememberMe" type="hidden" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="title">@ViewData["Title"]</div>
                            <div class="title">Twój login jest chroniony za pomocą aplikacji uwierzytelniającej. Wpisz poniżej swój kod uwierzytelniający.</div>
                            <hr />
                            <div class="card-body">
                                <div class="form-group no-border input-lg">
                                    <input asp-for="Input.TwoFactorCode" type="text" class="form-control" autocomplete="off" placeholder="Kod">
                                </div>
                                <div>
                                    <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                                </div>
                                <div class="form-group no-border input-lg">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMachine">
                                            <input asp-for="Input.RememberMachine" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMachine)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Zaloguj</button>
                        </form>
                    </div>
                    <div class="pull-right">
                        <h6>
                            Nie masz dostępu do urządzenia uwierzytelniającego? Możesz
                            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl"> zalogować się przy użyciu kodu odzyskiwania</a>.
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
