﻿@model SzkolaXXII.Web.InputModel.AssignmentInputModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using SzkolaXXII.Web.Data;
@inject SchoolContext schoolContext
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Stwórz assignment</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-action="Create">
                                        <div class="form-group">
                                            <label class="control-label">Przedmiot</label>
                                            <select class="form-control" asp-for="SubjectId"
                                                    asp-items=@schoolContext.Subject.ToList().Select(x => new SelectListItem(x.Name,x.Id))></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="title" class="control-label">Tytuł</label>
                                            <input name="title" type="text" asp-for="Title" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Opis</label>
                                            <textarea asp-for="Description" rows="4" cols="80" class="form-control" placeholder="Opis..."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="type" class="control-label">Rodzaj zaliczenia</label>
                                            <input name="type" type="text" asp-for="Type" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label for="weight" class="control-label">Waga</label>
                                            <input name="weight" type="number" min="0" asp-for="Weight" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label for="date" class="control-label">Data</label>
                                            <input name="date" type="date" asp-for="Date" class="form-control" />
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Dodaj</button>
                                        <a class="ml-2" asp-action="Index">Powrót</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
