﻿@model SzkolaXXII.Web.Models.School.Assignment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using SzkolaXXII.Web.Data;
@inject SchoolContext schoolContext
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Czy jesteś pewien, że chcesz usunąć?</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="control-label">Opis</label>
                                        <p>@Html.DisplayFor(model => model.Description)</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Przedmiot</label>
                                        <p>@schoolContext.Subject.ToList().FirstOrDefault(x => x.Name == Model.Subject.Name).Name</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Szkoła</label>
                                        <p>@schoolContext.Namespace.ToList().FirstOrDefault(x => x.Name == Model.Subject.School.Name).Name</p>
                                    </div>
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="submit" value="Usuń" class="btn btn-info btn-fill pull-right" />
                                        <a asp-action="Index" class="ml-2">Powrót do listy</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
