﻿@model IEnumerable<SzkolaXXII.Web.Models.School.Assignment>

@{
    ViewData["Title"] = "Zaliczenia";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using SzkolaXXII.Web.Data;
@inject SchoolContext schoolContext
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_TeacherOneSubjectPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <a class="btn btn-info btn-fill pull-right" asp-action="Create">Dodaj nowe</a>
                                    <h4 class="card-title">Rodzaj zaliczenia</h4>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>Tytuł</th>
                                            <th>Opis</th>
                                            <th>Nazwa przedmiotu</th>
                                            <th>Szkoła</th>
                                            <th>Akcja</th>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Title</td>
                                                    <td>@item.Description</td>
                                                    <td>@schoolContext.Subject.ToList().FirstOrDefault(x => x.Name == item.Subject.Name).Name</td>
                                                    <td>@schoolContext.Namespace.ToList().FirstOrDefault(x => x.Name == item.Subject.School.Name).Name</td>
                                                    <td>
                                                        <a class="material-icons" style="color:dimgrey;" asp-action="Edit" asp-route-id="@item.Id" title="Edytuj kurs">edit</a>
                                                        <a class="material-icons" style="color:darkred; margin-left:15px" asp-action="Delete" asp-route-id="@item.Id" title="Usuń kurs">cancel</a>
                                                        <a class="material-icons" style="color:dimgrey; margin-left:15px" asp-action="Details" asp-route-id="@item.Id" title="Szczegóły kursu">details</a>
                                                        <a class="nav-link" style="margin-left:15px;" asp-controller="SubjectGrades" asp-action="Create" asp-route-id="@item.Id">Wystaw oceny</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

