﻿@model SzkolaXXII.Web.InputModel.UserRoleInputModel

@{
    ViewData["Title"] = "Usuwanie roli użytkownika";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_AdminMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Usuwanie roli użytkownika</h4>
                                </div>
                                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"].ToString()))
                                {
                                    <p class="text-danger">@ViewData["ErrorMessage"].ToString()</p>
                                }
                                <div class="card-body">
                                    <form asp-action="DeleteUserRole">
                                        <input type="hidden" asp-for="ViewModel.Name" value="@Model.ViewModel.Name" />
                                        <input type="hidden" asp-for="ViewModel.Email" value="@Model.ViewModel.Email" />
                                        <input type="hidden" asp-for="ViewModel.UserId" value="@Model.ViewModel.UserId" />
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label>Użytkownik</label>
                                                    <p>@Model.ViewModel.Name</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <p>@Model.ViewModel.Email</p>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.ViewModel.Schools != null)
                                        {
                                            <div class="row">
                                                <div class="col-md-5 pr-1">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Szkoła</label>
                                                        <p>
                                                            <input type="hidden" asp-for="@Model.SchoolId" />
                                                            @Model.ViewModel?.Schools?.FirstOrDefault(x => x.Value == Model.SchoolId).Key
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-5 pr-1">
                                                <div class="form-group">
                                                    <label>Rola</label>
                                                    <select class="form-control" asp-for="Role" asp-items="@Model.ViewModel.Roles.Select(x => new SelectListItem(x, x))"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-info btn-fill pull-right">Usuń</button>

                                        <a class="ml-2" asp-action="Roles">Powrót</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>