﻿@model List<SzkolaXXII.Web.ViewModel.AdminUserRolesViewModel>
@using Microsoft.AspNetCore.Identity

@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> userManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_AdminMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">Przegląd ról</h4>
                                    <p class="card-category">Panel Administratora</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Użytkownik</th>
                                        <th>Emial</th>
                                        <th>Uprawnienia</th>
                                        <th>Akcja</th>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model)
                                            {
                                                <tr>
                                                    <td>@user.Name</td>
                                                    <td>@user.Email</td>
                                                    <td>
                                                        @if (user.Roles.Any())
                                                        {
                                                            var roleString = string.Empty;
                                                            @foreach (var role in user.Roles)
                                                            {
                                                                roleString += $"{role} ";
                                                            }

                                                            <span>@roleString</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Brak ról</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (user.UserId != userManager.GetUserId(User))
                                                        {
                                                            <a class="material-icons" style="color:darkolivegreen" asp-action="AddUserRole" asp-route-id="@user.UserId" title="Dodaj Role">add_circle</a>
                                                            @if (user.Roles.Any())
                                                            {
                                                                <a class="material-icons" style="color:darkred; margin-left:15px" asp-action="DeleteUserRole" asp-route-id="@user.UserId" title="Usuń Role">cancel</a>

                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



