﻿@model IEnumerable<SzkolaXXII.Web.Models.School.Namespace>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_AdminMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <a class="btn btn-info btn-fill pull-right" asp-controller="Namespaces" asp-action="Create">Dodaj nową szkołę</a>
                                    <h4 class="card-title">Lista szkół</h4>
                                    <p class="card-category">Panel Admina</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Adres</th>
                                        <th>Nazwa szkoły</th>
                                        <th>Akcja</th>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        <a class="material-icons" style="color:darkolivegreen" asp-controller="SchoolTeachers" asp-action="Create" title="Dodaj Nauczyciela">how_to_reg</a>
                                                        <a class="material-icons" style="color:dimgrey; margin-left:15px" asp-controller="Namespaces" asp-action="Edit" asp-route-id="@item.Id" title="Edytuj">edit</a>
                                                        <a class="material-icons" style="color:dimgrey; margin-left:15px" asp-controller="Namespaces" asp-action="Details" asp-route-id="@item.Id" title="Szczegóły">details</a>
                                                        <a class="material-icons" style="color:darkred; margin-left:15px" asp-controller="Namespaces" asp-action="Delete" asp-route-id="@item.Id" title="Usuń">cancel</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>