﻿@model SzkolaXXII.Web.InputModel.CalendarInputModel
@{
	ViewData["Title"] = "Create";
}
@using SzkolaXXII.Web.Data;
@inject SchoolContext schoolContext

<h1>Stwórz wydarzenie</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<table class="table table-borderless table-responsive-md">
				<thead>
					<tr>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nazwa</td>
						<td><input asp-for="Title" class="form-control" /></td>
					</tr>
					<tr>
						<td>Data</td>
						<td>
							<input class="form-control" asp-for="Date" />
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit" class="btn btn-primary">Dodaj</button>
							<a class="ml-2" asp-action="Index">Powrót do kalendarza</a>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
