﻿@model SzkolaXXII.Web.ViewModel.CalendarEventViewModel
@{
    ViewData["Title"] = "Index";
}
<p>
    <a role="button" class="btn btn-primary" asp-action="Create">Dodaj nowe wydarzenie</a>
</p>

<div class="row">
    <div class="col-md-1">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a class="material-icons col-md-2" style="color:dimgrey;" href="@Url.Action("Prev", "CalendarEvent", new { month = Model.Month, year = Model.Year})">keyboard_arrow_left</a>
    </div>
    <div class="col-md-10">
        @*
        *@

        <calendar month="@Model.Month" year="@Model.Year" events="@Model.Events" />
    </div>
    <div class="col-md-1">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a class="material-icons pull-right" style="color:dimgrey;" href="@Url.Action("Next", "CalendarEvent", new { month = Model.Month, year = Model.Year})">keyboard_arrow_right</a>
    </div>
</div>