﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<div class="col-md-12">
    <div class="card card-user">
        <div class="card-image">
            <img src="https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2018Q1/teaching-kids-to-code/customer-story-charlotte-mecklenburg-school-district-header@2x.png" alt="...">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
