﻿@page
@model Disable2faModel
@{
    ViewData["Title"] = "Wyłącz uwierzytelnianie dwuetapowe (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ta akcja wyłącza tylko 2FA.</strong>
    </p>
    <p>
        Wyłączenie 2FA nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz
        w aplikacji uwierzytelniającej należy <a asp-page="./ResetAuthenticator"> zresetować klucze uwierzytelniające.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Wyłącz 2FA</button>
    </form>
</div>
