﻿@page
@model SzkolaXXII.Web.Areas.Identity.Pages.Account.Manage.ExperienceModel

@using SzkolaXXII.Web.Models.Experience
@using SzkolaXXII.Web.Data

@inject UserManager<User> UserManager
@inject SchoolContext schoolContext

@{
    ViewData["Title"] = "Poziomy użytkownika";
    ViewData["ActivePage"] = ManageNavPages.Experience;

    var user = await UserManager.GetUserAsync(User);
    var levelCompletion = ((int)((user.Experience / UserSubjectLevel.CalculateNextLevel(user.Experience)) * 100)).ToString();
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-12 col-xl-12 mb-4">
        <div class="bg-white rounded-lg p-5 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">Ogólny postęp</h2>

            <div class="progress mx-auto" data-value='@levelCompletion'>
                <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h2 font-weight-bold">@user.Level <sup class="small">poziom</sup></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
@if (Model.UserSubjectLevels != null && Model.UserSubjectLevels.Count > 0)
{
    foreach (var item in Model.UserSubjectLevels)
    {
        var nextLevel = ((int)((item.Experience / UserSubjectLevel.CalculateNextLevel(item.Experience)) * 100)).ToString();
        var subjectName = schoolContext.Subject.FirstOrDefault(x => x.Id == item.SubjectId).Name;

        <div class="col-xl-5 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4">@subjectName</h2>

                <div class="progress mx-auto" data-value='@nextLevel'>
                    <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold">@item.Level <sup class="small">poziom</sup></div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h4>Brak poziomów doświadczenia z przedmiotów dydaktycznych</h4>
}
</div>

<script>
    $(function () {
        $(".progress").each(function () {
            var value = $(this).attr('data-value');
            var left = $(this).find('.progress-left .progress-bar');
            var right = $(this).find('.progress-right .progress-bar');

            if (value > 0) {
                if (value <= 50) {
                    right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                } else {
                    right.css('transform', 'rotate(180deg)')
                    left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                }
            }
        })

        function percentageToDegrees(percentage) {
            return percentage / 100 * 360
        }
    });
</script>

<style>
    .progress {
        width: 150px;
        height: 150px;
        background: none;
        position: relative;
    }

        .progress::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 6px solid #eee;
            position: absolute;
            top: 0;
            left: 0;
        }

        .progress > span {
            width: 50%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        .progress .progress-left {
            left: 0;
        }

        .progress .progress-bar {
            width: 100%;
            height: 100%;
            background: none;
            border-width: 6px;
            border-style: solid;
            position: absolute;
            top: 0;
        }

        .progress .progress-left .progress-bar {
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }

        .progress .progress-right {
            right: 0;
        }

            .progress .progress-right .progress-bar {
                left: -100%;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                border-right: 0;
                -webkit-transform-origin: center right;
                transform-origin: center right;
            }

        .progress .progress-value {
            position: absolute;
            top: 0;
            left: 0;
        }
</style>