﻿@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generuj kody odzyskiwania uwierzytelniania dwuskładnikowego (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Umieść te kody w bezpiecznym miejscu.</strong>
    </p>
    <p>
        Jeśli zgubisz urządzenie i nie masz kodów odzyskiwania, utracisz dostęp do konta.
    </p>
    <p>
        Generowanie nowych kodów odzyskiwania nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz
        używane w aplikacji uwierzytelniającej należy <a asp-page="./ResetAuthenticator"> zresetować klucze uwierzytelniające. </a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generuj kody odzyskiwania</button>
    </form>
</div>