﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobiste";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-12 text-center">
        <p>Twoje konto zawiera dane osobowe, które nam przekazałeś. Ta strona umożliwia pobranie lub usunięcie tych danych.</p>
        <p>
            <strong>Usunięcie tych danych spowoduje trwałe usunięcie konta i nie będzie można tego odzyskać.</strong>
        </p>
        <div class="row" style="margin-left:35%">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary" type="submit">Pobierz</button>
            </form>
            <a id="delete" style="margin-left:5%" asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}