﻿@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Zresetuj klucz uwierzytelniający";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz klucz uwierzytelniający, aplikacja uwierzytelniająca nie będzie działać, dopóki go nie ponownie skonfigurujesz.</strong>
    </p>
    <p>
        Ten proces wyłącza 2FA do momentu zweryfikowania aplikacji uwierzytelniającej.
        Jeśli nie dokonasz konfiguracji aplikacji uwierzytelniającej, możesz stracić dostęp do swojego konta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Zresetuj klucz uwierzytelniający </button>
    </form>
</div>