﻿@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Uwierzytelnianie dwuetapowe (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong> Nie masz już kodów odzyskiwania.</strong>
            <p>Musisz <a asp-page="./GenerateRecoveryCodes"> wygenerować nowy zestaw kodów odzyskiwania </a>, zanim będziesz mógł zalogować się przy użyciu kodu odzyskiwania. </p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Pozostał 1 kod odzyskiwania.</strong>
            <p>Możesz <a asp-page="./GenerateRecoveryCodes"> wygenerować nowy zestaw kodów odzyskiwania</a>.
            </p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Pozostało Ci @Model.RecoveryCodesLeft kodów odzyskiwania.</strong>
            <p> Powinieneś <a asp-page="./GenerateRecoveryCodes"> wygenerować nowy zestaw kodów odzyskiwania </a>.</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">Forget this browser</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">Wyłącz 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Zresetuj kody odzyskiwania</a>
}

<h5>Aplikacja uwierzytelniająca</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj aplikacje uwierzytelniającą</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Skonfiguruj aplikację uwierzytelniającą</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Zresetuj aplikację uwierzytelniającą</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}