﻿@model SzkolaXXII.Web.Models.School.SchoolStudent

@{
    ViewData["Title"] = "Szczegóły Ucznia";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Common.Security.Roles
@inject SignInManager<SzkolaXXII.Web.Areas.Identity.Data.User> SignInManager
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);
        <div class="wrapper">
            <div class="sidebar" data-color="black">
                <div class="sidebar-wrapper">
                    @if (roles.Contains(SystemDefaultRoles.Administrator))
                    {
                        <partial name="_AdminMenuPartial" />
                    }
                    else if (roles.Contains(SystemDefaultRoles.Teacher))
                    {
                        <partial name="_TeacherOneSubjectPartial" />
                    }
                </div>
            </div>
            <div class="main-panel">
                <partial name="_AdminMenuHeader" />
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Dane Ucznia</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <p>@Model.Student.Email</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>Klasa</label>
                                                    <p>@Model.SchoolClass.Name</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                    <label>Szkoła</label>
                                                    @if (Model.SchoolId == null)
                                                    {
                                                        <p>NULL</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@Model.School.Name</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        @if (roles.Contains(SystemDefaultRoles.Administrator))
                                        {
                                            <a class="pull-right" asp-controller="SchoolStudents" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
                                        }
                                        <a class="ml-2" asp-controller="SchoolClasses" asp-action="ShowStudents" asp-route-id="@Model.SchoolClassId">Powrót</a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>