﻿@model SzkolaXXII.Web.Models.School.SchoolStudent

@{
    ViewData["Title"] = "Edytuj Ucznia";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Common.Security.Roles
@inject SignInManager<SzkolaXXII.Web.Areas.Identity.Data.User> SignInManager
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    var roles = await UserManager.GetRolesAsync(user);
                    @if (roles.Contains(SystemDefaultRoles.Administrator))
                    {
                        <partial name="_AdminMenuPartial" />
                    }
                    else if (roles.Contains(SystemDefaultRoles.Teacher))
                    {
                        <partial name="_TeacherOneSubjectPartial" />
                    }
                }
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Wprowadź zmiany</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-controller="SchoolStudents" asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />
                                        <div class="form-group">
                                            <label class="control-label">Uczeń</label>
                                            <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                                            <span asp-validation-for="StudentId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Klasa</label>
                                            <select asp-for="SchoolClass" class="form-control" asp-items="ViewBag.SchoolClass"></select>
                                            <span asp-validation-for="SchoolClass" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Zapisz</button>
                                        <a class="ml-2" asp-controller="SchoolClasses" asp-action="ShowStudents" asp-route-id="@Model.SchoolClassId">Powrót</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
