﻿@model List<SzkolaXXII.Web.ViewModel.SchoolStudentIndexViewModel>

@{
    ViewData["Title"] = "Lista Uczniów";
}

<h1>Lista Uczniów</h1>

<p>
    <a asp-action="Create">Dodaj nowego ucznia</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                Id Ucznia
            </th>
            <th>
                Nazwa Ucznia
            </th>

            <th>
                Id Klasy
            </th>

            <th>
                Nazwa Klasy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count >= 0)
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Student.Id
                    </td>
                    <td>
                        @item.Student.UserName
                    </td>
                    <td>
                        @item.SchoolClass.Id
                    </td>
                    <td>
                        @item.SchoolClass.Name
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.StudentId">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@item.StudentId">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.StudentId">Usuń</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
