﻿@model SzkolaXXII.Web.Models.School.SchoolClass

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_AdminMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Jesteś pewny że chcesz usunąć tą klasę?</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <label>Nazwa</label>
                                            <p>@Html.DisplayFor(model => model.Name)</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <label>Data rozpoczęcia nauki</label>
                                            <p>@Model.StartSchoolDate.Date.ToString("MM/dd/yyyy")</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <label>Data zakończenia nauki</label>
                                            <p>@Model.EndSchoolDate.Date.ToString("MM/dd/yyyy")</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <label>Wychowawca</label>
                                            <p>@Html.DisplayFor(model => model.Educator.Teacher.Email)</p>
                                        </div>
                                    </div>
                                    <form asp-action="Delete">
                                        <input type="hidden" asp-for="Id" />
                                        <button type="submit" class="btn btn-danger btn-fill pull-right">Usuń</button>
                                        <a class="ml-2" asp-controller="SchoolClasses" asp-action="Index">Powrót</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
