﻿@model SzkolaXXII.Web.Models.School.SchoolClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SchoolClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartSchoolDate)
        </dt>
        <dd class="col-sm-10">
            @Model.StartSchoolDate.Date.ToString("MM/dd/yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndSchoolDate)
        </dt>
        <dd class="col-sm-10">
            @Model.EndSchoolDate.Date.ToString("MM/dd/yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Educator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Educator.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
