﻿@model SzkolaXXII.Web.Models.School.SchoolClass

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_AdminMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Wprowadź zmiany</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-controller="SchoolClasses" asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />
                                        <div class="form-group">
                                            <label class="control-label">Nazwa</label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Data rozoczęcia nauki</label>
                                            <input asp-for="StartSchoolDate" type="date" class="form-control" />
                                            <span asp-validation-for="StartSchoolDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Data zakończenia nauki</label>
                                            <input asp-for="EndSchoolDate" class="form-control" type="date" />
                                            <span asp-validation-for="EndSchoolDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Wychowawca</label>
                                            @if (ViewBag.EducatorCount > 0)
                                            {
                                                <select asp-for="EducatorId" class="form-control" asp-items="ViewBag.EducatorId"></select>
                                                <span asp-validation-for="EducatorId" class="text-danger"></span>
                                            }
                                            else
                                            {
                                                <p class="form-text text-danger">W twojej szkole nie ma jeszcze nauczycieli</p>
                                                <span asp-validation-for="EducatorId" class="text-danger"></span>
                                            }
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Zapisz</button>
                                        <a class="ml-2" asp-controller="SchoolClasses" asp-action="Index">Powrót</a>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>