﻿@model IEnumerable<SzkolaXXII.Web.Models.School.SchoolClass>

@{
    ViewData["Title"] = "Lista Klas";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="black">
            <div class="sidebar-wrapper">
                <partial name="_AdminMenuPartial" />
            </div>
        </div>
        <div class="main-panel">
            <partial name="_AdminMenuHeader" />
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            @if (@ViewBag.schoolCount == 0)
                            {
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-header ">
                                        <h4 class="card-title">Nie jesteś nauczycielem w żadnej ze szkół.</h4>
                                        <p class="card-category">Skontaktuj się z administratorem aby nadał ci odpowiednie uprawnienia</p>
                                    </div>
                                </div>
                            }
                            else if (@ViewBag.schoolCount > 1)
                            {
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-header ">
                                        <h4 class="card-title">Masz dostęp do @ViewBag.schoolCount szkół.</h4>
                                        <p class="card-category">Wybierz do której szkoły chcesz mieć podgląd. </p>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            <tbody>
                                                @foreach (var item in ViewBag.schools)
                                                {
                                                    <tr><a asp-action="SchoolChosenIndex" asp-route-id="@item.Id" class="list-group-item">@item.Name</a></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-header ">
                                        <a class="btn btn-info btn-fill pull-right" asp-controller="SchoolClasses" asp-action="Create">Dodaj nową klasę</a>
                                        <h4 class="card-title">Klasy</h4>
                                        <p class="card-category">Panel Admina</p>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <th>Klasa</th>
                                            <th>Początek nauki</th>
                                            <th>Koniec nauki</th>
                                            <th>Wychowawca</th>
                                            <th>Akcja</th>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td>
                                                            @item.StartSchoolDate.Date.ToString("MM/dd/yyyy")
                                                        </td>
                                                        <td>
                                                            @item.EndSchoolDate.Date.ToString("MM/dd/yyyy")
                                                        </td>
                                                        <td>
                                                            @item.Educator.Teacher.Email
                                                        </td>
                                                        <td>
                                                            <a class="material-icons" style="color:dimgrey;" asp-controller="SchoolClasses" asp-action="ShowStudents" asp-route-id="@item.Id">list_alt</a>
                                                            <a class="material-icons" style="color:dimgrey; margin-left:15px" asp-controller="SchoolClasses" asp-action="Edit" asp-route-id="@item.Id">edit</a>
                                                            <a class="material-icons" style="color:darkred; margin-left:15px" asp-controller="SchoolClasses" asp-action="Delete" asp-route-id="@item.Id">cancel</a>
                                                            <a class="material-icons" style="color:darkolivegreen; margin-left:15px" asp-controller="CalendarEvent" asp-action="CreateClass" asp-route-id="@item.Id">calendar_today</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>