﻿@model IEnumerable<SzkolaXXII.Web.Models.School.SchoolClass>

@{
	ViewData["Title"] = "Lista Klas";
}

<h5>Szkoła: @ViewBag.school.Name</h5>
<br />
<h1 class="col-xl-10">Klasy</h1>
<br />

<table class="table table-hover">
	<thead class="thead-light">
		<tr>
			<th scope="col" style="width:10%">
				Klasa
			</th>
			<th scope="col" style="width:20%">
				Początek nauki
			</th>
			<th scope="col" style="width:20%">
				Koniec nauki
			</th>
			<th scope="col" style="width:20%">
				Wychowawca
			</th>
			<th scope="col" style="width:30%">
				<a class="btn btn-success float-right" asp-action="Create">Dodaj nową klase</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@item.StartSchoolDate.Date.ToString("MM/dd/yyyy")
					</td>
					<td>
						@item.EndSchoolDate.Date.ToString("MM/dd/yyyy")
					</td>
					<td>
						@item.Educator.Teacher.Email
					</td>
					<td>
						<div>
							<a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
							<a asp-action="Delete" asp-route-id="@item.Id">Usuń</a> |
							<a asp-action="ShowStudents" asp-route-id="@item.Id">Lista uczniów</a>
						</div>
						<a asp-controller="CalendarEvent" asp-action="CreateClass" asp-route-id="@item.Id">Dodaj Wydarzenie</a>
					</td>
				</tr>
			}
	</tbody>
</table>
