﻿@model List<SzkolaXXII.Web.ViewModel.SchoolStudentIndexViewModel>
@{
    ViewData["Title"] = "Klasa";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using SzkolaXXII.Common.Security.Roles
@inject SignInManager<SzkolaXXII.Web.Areas.Identity.Data.User> SignInManager
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SzkolaXXII - Panel administratora - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/light-bootstrap-dashboard.css" />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);
        <div class="wrapper">
            <div class="sidebar" data-color="black">
                <div class="sidebar-wrapper">
                    @if (roles.Contains(SystemDefaultRoles.Administrator))
                    {
                        <partial name="_AdminMenuPartial" />
                    }
                    else if (roles.Contains(SystemDefaultRoles.Teacher))
                    {
                        <partial name="_TeacherOneSubjectPartial" />
                    }
                </div>
            </div>
            <div class="main-panel">
                <partial name="_AdminMenuHeader" />
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-header ">
                                        @if (roles.Contains(SystemDefaultRoles.Administrator))
                                        {
                                            <a class="btn btn-info btn-fill pull-right" asp-controller="SchoolStudents" asp-action="Create">Dodaj ucznia</a>

                                        }
                                        <h4 class="card-title">Klasa @ViewBag.ClassName</h4>
                                        <p class="card-category">Wychowawca: @ViewBag.EducatorName</p>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                            <th>Nazwa studenta</th>
                                            <th>Akcja</th>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.Count >= 0)
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.Student.UserName
                                                            </td>
                                                            <td>
                                                                @if (roles.Contains(SystemDefaultRoles.Administrator))
                                                                {
                                                                    <a class="material-icons" style="color:dimgrey; margin-left:15px" asp-controller="SchoolStudents" asp-action="Edit" asp-route-id="@item.StudentId">edit</a>
                                                                    <a class="material-icons" style="color:darkred; margin-left:15px" asp-controller="SchoolStudents" asp-action="Delete" asp-route-id="@item.StudentId">cancel</a>
                                                                }
                                                                else if (roles.Contains(SystemDefaultRoles.Teacher))
                                                                {
                                                                    <a class="material-icons" style="color:darkolivegreen; margin-left:15px" asp-controller="TeacherPanel" asp-action="AddNotes" asp-route-id="@item.Student.Id">add_comment</a>
                                                                }
                                                                <a class="material-icons" style="color:dimgrey; margin-left:15px" asp-controller="SchoolStudents" asp-action="Details" asp-route-id="@item.StudentId">details</a>
                                                            </td>
                                                        </tr>
                                                    }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>