﻿@using SzkolaXXII.Web.Models.School
@using SzkolaXXII.Common.Security.Roles
@using SzkolaXXII.Web.ViewModel
@using Microsoft.AspNetCore.Identity
@inject SzkolaXXII.Web.Data.SchoolContext context
@inject UserManager<SzkolaXXII.Web.Areas.Identity.Data.User> UserManager
@model GradebookViewModel

@{ 
    var userId = UserManager.GetUserId(User);
    var studentId = context.SchoolStudent.FirstOrDefault(x => x.StudentId == userId)?.Id;
}

@if (Model != null && Model.SchoolStudents.Count > 0)
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Student</th>
                @foreach (var assignment in Model.Assignments)
                {
                    <th>@assignment.Title</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.SchoolStudents)
            {
                if(User.IsInRole(SystemDefaultRoles.Student) && student.Id != studentId)
                {
                    continue;
                }
                <tr>
                    <td>@student.Email</td>
                    @foreach (var assignment in Model.Assignments)
                    {
                        <td>
                            @foreach (var grade in student.Grades.Where(x => x.SubjectId == assignment.Id))
                            {
                                <span>@grade.Grade </span>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-center m-4">Brak studentów do wyświetlenia</h2>
}