﻿@using SzkolaXXII.Web.ViewModel
@using SzkolaXXII.Web.Data
@inject SchoolContext context
@model GradebookViewModel

@{
    ViewData["Title"] = "Dziennik ocen";
}

<h1>Dziennik ocen</h1>

<div class="container">
    <div class="row" id="class-select-container">
        <form>
            <div class="form-inline float-left">
                @if (string.IsNullOrEmpty(Model.NamespaceId))
                {
                    <select class="form-control m-md-2" asp-for="NamespaceId" asp-items="ViewBag.Schools"></select>
                }
                else
                {
                    <input type="hidden" asp-for="NamespaceId" />
                }

                @if (!string.IsNullOrEmpty(Model.NamespaceId))
                {
                    <select class="form-control m-md-2" asp-for="ClassId" asp-items="ViewBag.Classes"></select>
                    @if (!string.IsNullOrEmpty(Model.ClassId))
                    {
                        <select class="form-control m-md-2" asp-for="SubjectId" asp-items="ViewBag.Subjects"></select>
                    }
                }
                <button type="submit" asp-action="Index" 
                        asp-route-namespaceId="@Model.NamespaceId" 
                        asp-route-classId="@Model.ClassId"
                        asp-route-subjectId="@Model.SubjectId"
                        class="btn btn-primary m-md-2">Zmień</button>
            </div>
        </form>
    </div>
    <div class="row" id="class-grades-table">
        @Html.Partial("~/Views/Gradebook/_GradeClassTable.cshtml", Model)
    </div>
</div>

<script>
    function editLink(schoolId) {
        var classId = document.querySelector('#class-select-container > div > select').value;
        var link = document.baseURI + "?namespaceId=" + schoolId + "&classId=" + classId;
        document.querySelector('#class-select-container > div > a').href = link;
    }
</script>